{{ if not (default true .Params.postSidebar) }}
  {{ partial "sidebar/search-form" . }}
{{ end }}
{{- if ne "content" .Site.Params.tocPosition }}
  {{- partial "sidebar/toc" . }}
{{- end }}
{{- if default true .Params.postSidebar }}
  {{- partialCached "sidebar/profile" . .Site }}
  {{- partialCached "sidebar/taxonomies-toggle" . }}
{{- end }}
{{- partial "sidebar/posts-toggle" . }}
{{- partial "sidebar/featured-posts" . .Section }}
{{- partial "sidebar/recent-posts" . .Section }}
{{- partialCached "sidebar/taxonomies" . }}
{{- partialCached "sidebar/archive" . }}