{{- if .Site.Params.topAppBar.social }}
<li class="nav-item py-2 py-xl-1 col-12 col-xl-auto">
{{- $data := dict "links" .Site.Params.topAppBar.social "OutputFormats" $.OutputFormats "home" (.GetPage "/") "params" .Site.Params "iconText" true "color" false }}
{{- $data = merge $data (dict "class" "flex-row" "linkClass" "col-6 col-xl-auto p-1" "iconTextClass" "ms-1 d-xl-none") }}
{{- partial "helpers/social-links" $data }}
</li>
<li class="nav-item py-2 py-xl-1 col-12 col-xl-auto">
  <div class="vr d-none d-xl-flex h-100 mx-xl-2 text-white"></div>
  <hr class="d-xl-none my-2">
</li>
{{- end -}}
